registry=https://registry.npmjs.org/
disturl=https://npm.taobao.org/mirrors/node
puppeteer_download_host=https://npm.taobao.org/mirrors
electron_mirror=https://cdn.npm.taobao.org/dist/electron/
sentrycli_cdnurl=https://cdn.npm.taobao.org/dist/sentry-cli

